.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}
.cadre{
    display :inline-block
    background-color:goldenrod;
    border-radius:15px;
    color:green;  
}

span {
    background-color:light-grey;
    border-radius:15px;
    color:green;
}
span:last-of-type{
    color:red;
}
button {
    background-color: #4c77af;
    color: white;
    padding: 35px;
    font-size: 20px;
    border: 5px;
    cursor:pointer;
    padding:18px;
}

button:hover {
    background-color:#172bdd;
}

.buttondeux {
    background-color: #28cae6dc;
    color: white;
    padding: 2px;
    border: 10px;
    display: block;
    border-radius: 10px;
    border: 4px double #cccccc;
    text-align: center;
    font-size: 18px;
    max-height: 30px;
    width: 250px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.buttontdeux:hover {
    background-color:#848cdb;
}
.buttontrois {
    display: inline-block;
    background-color: hsl(239, 97%, 40%);
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    height: 65px;
    /* max-height: 40px; */
    width: 250px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.buttontrois:hover {
        background-color:#737581;
}

.buttonquat 
{
        padding: 15px 100px;
        margin:10px 4px;
        color: #eee;
        font-family: sans-serif;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        text-decoration: none;
        display:inline-block;
        border:1px solid ;
}
.buttonquat::before{
content: "";
position: absolute;
top: 0;
left: 0;
display: block;
width: 100%;
height: 100%;
z-index: -1;
-webkit-transform: scaleY(.1);
transform: scaleY(.1);
transition: all .4s
}
.buttonquat:hover{
        color:#b414ba;  
}
.buttonquat:hover::before{
        opacity: 1;
        background-color: #f7c2f9;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        transition: -webkit-transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity .4s;
        transition: transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity
}
.buttoncinq {
    background-color: #25c92ddc;
    color: white;
    padding: 20px;
    border: 10px;
    display: inline-block;
    border-radius: 10px;
    border: 4px double #cccccc;
    text-align: center;
    font-size: 18px;
    max-height: 30px;
    width: 500px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.buttontcinq:hover {
    background-color:#27da71;
}
#resultat{
    background-color:#1411c4;
    color:white;
    font-size:50px;
    padding:4px;	
}
.centrer{
display : block;
margin : auto;
padding : 100px;
}
.placement {
display : inline-flex;
margin : auto;
padding : 10px;
;

}
#a {
    background-color: red;
}
#v {
    background-color:#8115c9;
}
#o {
    background-color:#4dd2ff;	
}
#u {
    background-color:hsl(234, 84%, 44%);	
}
#s  {
    background-color:#ee16dc;
}
.mi {
    width: 47%;
    height:200px;
    float:left;
    margin:20px;
    margin-top: 40px;
}
@media screen and (max-width: 600px) {
.mi {
width: 100%;
margin: 0;
}
}
.bouton {   
    background-color: #1da51d;
    color: rgb(218, 35, 35);
    margin: 10%;
    border : 10%;
    padding: 15%;
    font-size: 50%;
    border: 10%;
    cursor:pointer;
}

.parag {
    display:center;
    display:flex;
    flex-direction:  column;
    position: relative;
    justify-content: space-between;
}
.centrer {
display:center;
display:flex;
position: absolute;
justify-content: space-between;
}

footer {
    justify-content: space-between;
    display:  flex; 
    display:center;
    position: relative;
    flex-direction:  column;
    background-color:#9ea4dd;
}

.reglement__article {
    background-color:#646ec2;
}

.reflivr{
    background-color:#646dc269;

}
.figure {
border : 2 px solide #333;;
padding : 5 px ;
Width: 305 px;
}
.figcaption {
    background-color: RGBa(0,0,0,8);
    color: #fff;
    text-align: center;
    font-style: italic;
}