*{

}

span {
    background-color:light-grey;
    border-radius:15px;
    color:green;
}
span:last-of-type{
    color:red;
}
button {
    background-color: #4c77af;
    color: white;
    padding: 35px;
    font-size: 20px;
    border: 5px;
    cursor:pointer;
    padding:18px;
}


button:hover {
    background-color:#172bdd;
}
.buttontwo {
    background-color: #192dd8;
    color: white;
    padding: 35px;
    font-size: 20px;
    border: 5px;
    cursor:pointer;
    padding:18px;
}
.buttontwo:hover {
    background-color:#848cdb;
}
#resultat{
    background-color:#1411c4;
    color:white;
    font-size:50px;
    padding:4px;	
}
#a {
    background-color: red;
}
#v {
    background-color:#8115c9;
}
#o {
    background-color:#4dd2ff;	
}
#u {
    background-color:hsl(234, 84%, 44%);	
}
#s  {
    background-color:#ee16dc;
}
.mi {
    width: 47%;
    height:200px;
    float:left;
    margin:20px;
    margin-top: 40px;
}
@media screen and (max-width: 600px) {
.mi {
width: 100%;
margin: 0;
}
.bouton {   
    background-color: #1da51d;
    color: rgb(218, 35, 35);
    margin: 10%;
    border : 10%;
    padding: 15%;
    font-size: 20%;
    border: 10%;
    cursor:pointer;
}
footer {
    display:  flex; 
    flex-direction:  column;
    background-color:#172bdd;
}
h2 {
    background-color:#172bdd;
}